$White: #FFFFFF;
$Black: #000000;

$Mercury: rgba(159, 183, 197, 0.2);
$VerdunGreenDark: rgba(100, 100, 0, 0.3);
$VerdunGreen: rgba(100, 100, 0, 0.2);
$VerdunGreenLight: rgba(100, 100, 0, 0.1);
$CornflowerBlue: rgba(113, 96, 255, 0.75);
$DodgerBlue: #556CFF;
$Casper: rgba(159, 183, 197, 0.1);
